@model DataModels.PointTransferModel

<form asp-action="GivePoints" method="post">
    <div class="container">
        <input type="hidden" asp-for="CompanyId" />
        <input type="hidden" asp-for="FromUserId" />
        <div class="row">
            <div class="col-md-3">
                <input asp-for="Points" type="number" class="form-control" />
            </div>
            <div class="col-md-3" style="padding-top:10px">
                <select id="ToUserId" name="ToUserId" class="form-control singleselect remote" placeholder="Select User"
                        data-url="@Url.Action("UserDDL", "Home")"
                        data-param-companyId="1"></select>
            </div>

            <div class="col-md-3" style="padding-top:10px">
                <select id="ReasonId" name="ReasonId" class="form-control singleselect remote" placeholder="Select Reason"
                        data-url="@Url.Action("ReasonDDL", "Home")"
                        data-param-companyId="1"></select>
            </div>
        </div>
    </div>




    <textarea asp-for="Note" class="wp-text auto-size" placeholder="Write Something..."></textarea>

    <div class="wp-actions clearfix">
        <button type="submit" class="btn btn bgm-deeporange waves-effect btn-md pull-right">Give</button>
    </div>
</form>